
            .error_banner {
					layout_alignParentBottom:"true";
			layout_alignParentEnd:"true";
			layout_alignParentRight:"true";
			layout_alignParentLeft:"true";
			layout_alignParentStart:"true";
			padding:"5dp";
			textStyle:"bold";
			gravity:"center";
			background:"@color/color_red_300";
			textColor:"@color/color_white";
			text:"@string/error_text";
			layout_height:"wrap_content";
			layout_width:"match_parent";
			zIndex:"1";
				
                 }
        
